* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #F5F5F5;
  --font-family-primary: Bai Jamjuree, sans-serif;
  --font-family-secondary: Barlow, sans-serif;
}

body {
  background-color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  height: 60px;
  width: 100%;
}

header .brand {
  display: flex;
  width: 10%;
  min-width: 70px;
  height: auto;
  background-color: white;
  padding-left: 45px;
}

.brand img{
  height: 60px;
  align-items: center;
}

header .menu {
  display: flex;
  align-items: center;
  background-color: white;
  position: relative;
  width: 60%;
  height: auto;
}

.menu{
  justify-content: end;
}

.menu ul{
  display: flex;
  list-style: none;
  padding-right: 20px;
}

.menu li{
  padding-right: 20px;
  font-size: 18px;
}

.menu li a{
  color: black;
  text-decoration: none;
}

.menu li a:hover{
  text-decoration: underline;
  text-underline-offset: 6px;
}

header .user {
  display: flex;
  width: 30%;
  height: auto;
  background-color: white;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 30px;
}

.user ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.user .icon-1 {
  padding: 0;
} 

.user .icon-2 {
  padding-left: 0;
} 


.user li a {
  color: #111111;
  font-size: 20px;
}

.user li #text {
  height: 35px;
  border-radius: 16px;
  border-style: none;
  background-color: var(--primary-color);
  font-size: 16px;
  width: 78%;
  font-weight: 400;
}

#text::placeholder{
  color: #707072;
}

input {
  padding-left: 10px;
}

li .logo-1{
  display: none;
}

main .information {
  width: auto;
  height: 50px;
  background-color: var(--primary-color);
  padding-top: 10px;
  text-align: center;
}

main .background img{
  background-position:left;
  width: 100%;
  height: auto;
}